<header class="header-6">
  <!-- <div class="branding">
    layout
  </div> -->
  <div class="header-nav">
      <a class="nav-link nav-text" routerLink="layout" routerLinkActive="active">基础布局</a>
  </div>
  <div class="header-nav">
    <a class="nav-link nav-text" routerLink="arithmetic" routerLinkActive="active">简单算法</a>
  </div>
  <div class="header-nav">
    <a class="nav-link nav-text" routerLink="cnode" routerLinkActive="active">cnode</a>
  </div>
</header>
<router-outlet></router-outlet>
