<main class="content-area">

  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="flow" routerLinkActive="active">
          <label>流式布局</label>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="flex" routerLinkActive="active">
          <label>弹性布局</label>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cup" routerLinkActive="active">
          <label>圣杯布局</label>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="leftfixed" routerLinkActive="active">
          <label>左固定右自适应</label>
        </a>
      </li>
    </ul>
  </nav>

  <!--  -->

  <router-outlet></router-outlet>
</main>

